.theme-bg-color-1{
	background-color: #f2f7fb;
}

.theme-bg-color-2{
	background-color: #cde2f0;
}

.theme-bg-light{
	background-color: #fff;
}

.theme-bg-color-header{
	background-color: #82b7da;
}

.theme-topbar{
	background: #82b7da;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.theme-topbar a{
	color: #FFF;
}

.theme-topbar a.active, .theme-topbar a:hover{
	color: #cde2f0;
}

.theme-footer{
	background: #82b7da;
    box-shadow: -0px -2px 0px 0 rgba(0,0,0,0.16),-0px -1px 0px 0 rgba(0,0,0,0.12);
    color:#fff;
}

.theme-main-wrapper{
	background-color:  #cde2f0;
}

.theme-paging a{
	color: #82b7da;
}

.theme-paging a.active, .theme-paging a:hover{
	color: #000;
}

.theme-title-sublime, .theme-subtitle-sublime{
	color: #fff;
}

.theme-border{
	float: right;
	width: 160px;
    height: 40px;
    text-align: center;
    
    line-height: 40px;
	border-bottom: 40px solid #82b7da;
    border-left: 20px solid transparent;
    clear: both;
    box-shadow: 0 2px 0px 0 rgba(0,0,0,0.16),0 3px 0px 0 rgba(0,0,0,0.12);
}

.theme-border a{
	color: #fff;
}

.theme-border:hover a, .theme-border.active a{
	color: #cde2f0;
}

.theme-separator{
	border-bottom: 1px solid #82b7da;
}

.theme-button a .prev-episode, .theme-button a .next-episode{
	border: 2px solid #82b7da;
}

.theme-button:hover a .prev-episode, .theme-button:hover a .next-episode{
	background: #82b7da;
	color: #fff;
}

.theme-button a{
	color: #82b7da;
	text-decoration: none;
}
