.theme-bg-color-1{
	background-color: #ffefd1;
}

.theme-bg-color-2{
	background-color: #FED587;
}

.theme-bg-light{
	background-color: #fff;
}

.theme-bg-color-header{
	background-color: #F47D30;
}

.theme-topbar{
	background: #F47D30;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.theme-topbar a{
	color: #FFF;
}

.theme-topbar a.active, .theme-topbar a:hover{
	color: #FED587;
}

.theme-footer{
	background: #F47D30;
    box-shadow: -0px -2px 0px 0 rgba(0,0,0,0.16),-0px -1px 0px 0 rgba(0,0,0,0.12);
    color:#fff;
}

.theme-main-wrapper{
	background-color:  #FED587;
}

.theme-paging a{
	color: #f47d30;
}

.theme-paging a.active, .theme-paging a:hover{
	color: #000;
}

.theme-title-sublime, .theme-subtitle-sublime{
	color: #fff;
}

.theme-border{
	float: right;
	width: 160px;
    height: 40px;
    text-align: center;
    
    line-height: 40px;
	border-bottom: 40px solid #F47D30;
    border-left: 20px solid transparent;
    clear: both;
    box-shadow: 0 2px 0px 0 rgba(0,0,0,0.16),0 3px 0px 0 rgba(0,0,0,0.12);
}

.theme-border a{
	color: #fff;
}

.theme-border:hover a, .theme-border.active a{
	color: #FED587;
}

.theme-separator{
	border-bottom: 1px solid #F47D30;
}
