
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


.header{ 
    height: 50px;

    .menu-button{
        text-decoration: none;
        color: $color-primary;
        background-color: $color-secondary;
    }
}